<?xml version="1.0" encoding="utf-8"?>
<config>
    <sections>
        <sales_email>
            <groups>
                <shipment>
                    <fields>
                        <shippingconfirmation_is_active translate="label,comment">
                            <label>Send shipping confirmations with cron</label>
                            <comment>Disable the ordinary shipment email sendings. Only shipments that have at least one tracking code and still haven't been sent will be included in the send batches.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </shippingconfirmation_is_active>
                        <shippingconfirmation_from_date translate="label,comment">
                            <label>Use cron from date</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-date</validate>
                            <sort_order>95</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </shippingconfirmation_from_date>
                        <shippingconfirmation_threshold translate="label,comment">
                            <label>Threshold</label>
                            <comment>How many seconds to wait after a shipment has been created before trying to send any email by cron</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number</validate>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </shippingconfirmation_threshold>
                        <shippingconfirmation_require_tracking translate="label,comment">
                            <label>Require tracking codes to send email</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>93</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </shippingconfirmation_require_tracking>
                    </fields>
                </shipment>
            </groups>
        </sales_email>
    </sections>
</config>